<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro - Traço Perfeito</title>
  <link rel="stylesheet" href="css/cadastro-novo.css">
   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
  

</head>
<body>




    <!-- coisas novas -->




    <% 
    let cssErros = {nome: "", usuario: "", email: "", celular: "", cpf: "", password: "", confirmpassword: ""};
    let msgErros = {nome: "", usuario: "", email: "", celular: "", cpf: "", password: "", confirmpassword: ""}; 
    
    if(listaErros){
        listaErros.errors.forEach(function (elemento){
            if(elemento.path == "nome"){
                cssErros.nome = "erro-form";
                msgErros.nome = elemento.msg;
            }
     
            if(elemento.path == "usuario"){
                cssErros.usuario = "erro-form";
                msgErros.usuario = elemento.msg;
            }
     
            if(elemento.path == "email"){
                cssErros.email = "erro-form";
                msgErros.email = elemento.msg;
            }
     
            if(elemento.path == "celular"){
                cssErros.celular = "erro-form";
                msgErros.celular = elemento.msg;
            }

            if(elemento.path == "cpf"){
                cssErros.cpf = "erro-form";
                msgErros.cpf = elemento.msg;
            }
     
     
            if(elemento.path == "password"){
                cssErros.password = "erro-form";
                msgErros.password = elemento.msg;
            }
     
            if(elemento.path == "confirmpassword"){
                cssErros.confirmpassword = "erro-form";
                msgErros.confirmpassword = elemento.msg;
            }
        });
    }
    %>



     
    <section class="botao-de-voltar">   
        <button class="btn-voltar" onclick="voltarPagina()"> <ion-icon name="arrow-back-outline" id="seta"></ion-icon></button>
        <p class="lado-botao"> Voltar para a página anterior</p>
    </section>









        <!-- .... -->
<main>
  
    <section class="form-wizard">
  
      <!-- <img src="tracoperfeitoazul.png" alt="Traço Perfeito" id="logo-nome"> -->
      <section class="progress">
        <section class="progress-bar" id="progressBar"></section>
      </section>
  
      <h1> CADASTRE-SE</h1>
  
  
      <form id="signupForm" method="POST" action="/teste-cadastro">
  
        <!-- Step 1 -->
        <section class="form-step active">
          <h3>Olá! Como você gostaria de usar o Traço Perfeito?</h3>
          <section class="card-options tipo-conta-container">
            <input type="hidden" name="tipo" id="tipo-usuario">
  
            <section class="card" onclick="selectAccountType('comum')" id="card-comum" valu>
  
              <img src="imagens/comum.png" alt="Lupa" class="icone">
  
              <h3> Procurar profissionais</h3>
  
              <p> Quero encontrar designers e artistas para meus projetos.</p>
  
  
          </section>
            <section class="card" onclick="selectAccountType('profissional')" id="card-artista">
  
              <img src="imagens/profissional.png" alt="Designer" class="icone">
  
              <h3> Divulgar meus trabalhos</h3>
  
              <p> Quero divulgar meus trabalhos e receber oportunidades.</p>
            </section>
              <input type="hidden" name="tipo_conta" id="tipo_conta">
          </section>
        </section>
  
        <!-- Step 2 -->
        <section class="form-step">
          <h3>Dados Básicos</h3>
  
  
          <section class="input-section one">
            <section class="i">
                <i class="fas fa-user"></i>
            </section>
  
            <section class="section">
              <h5>Nome</h5>
              <input type="text"  name="nome" value="<%= valores.nome %>" class=" dados-basicos    <%= cssErros.nome %>" required><br>
                <span class="msg-erro"><%= msgErros.nome %></span>
                <span class="msg-erro" for="nome">
  
                   <% if (msgErros.nome) { %>
      <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#e53935">
        <path d="m40-120 440-760 440 760H40Zm440-120q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Z"/>
      </svg>
      <%= msgErros.nome %>
    <% } %>
                </span>
            </section>
  
          </section>
  
  
  
  
          <section class="input-section one">
            <section class="i">
              <i class="fas fa-user"></i>
            </section>
         <section class="section">
          <h5>Username</h5>
  
            <input type="text" name="usuario"  pattern="^[a-zA-Z0-9._]{6,20}$"  title="O nome de usuário deve ter de 6 a 20 caracteres, apenas letras, números, pontos e underlines."
      value="<%= valores.usuario %>" class="  dados-basicos    <%= cssErros.usuario %>" required><br>
            <span class="msg-erro"><%= msgErros.usuario %></span>
            <span class="msg-erro" for="usuario"></span>
         </section>
  
          </section>
  
  
  
        <section class="input-section one">
           <section class="i">
                      <i class="fas fa-user"></i>
                   </section>
          <section class="section">
            <h5>CPF</h5>
  
            <input type="text"  name="cpf"   value="<%= valores.cpf %>" class=" dados-basicos     <%= cssErros.cpf %>"  required><br>
             <span class="msg-erro"><%= msgErros.cpf %></span>
             <span class="msg-erro" for="cpf"></span>
          </section>
        </section>
  
  
          <section class="input-section one">
             <section class="i">
                      <i class="fas fa-user"></i>
                   </section>
            <section class="section">
              <h5>Email</h5>
              <input type="email"  name="email" value="<%= valores.email %>" class=" dados-basicos     <%= cssErros.email %>" required><br>
               <span class="msg-erro"><%= msgErros.email %></span>
               <span class="msg-erro" for="email"></span>
            </section>
  
          </section>
  
  
          <section class="input-section one">
             <section class="i">
                      <i class="fas fa-user"></i>
                   </section>
            <section class="section">
              <h5>Celular</h5>
              <input type="text"  name="celular"  value="<%= valores.celular %>" class="dados-basicos   <%= cssErros.celular %>" required><br>
               <span class="msg-erro"><%= msgErros.celular %></span>
               <span class="msg-erro" for="celular"></span>
            </section>
  
          </section>
  
  
          <section class="button-group">
            <button type="button" onclick="prevStep()">Voltar</button>
            <button type="button" onclick="analisarEtapaDadosBasicos()" >Prosseguir</button>
          </section>
        </section>
  
        <!-- Step 3 -->
        <section class="form-step">
          <h3>Informações Pessoais</h3>
          <section class="nasc-genero">
  
              <section>
                  <p> Insira sua data de nascimento: </p>
                  <input type="date" class="data-nasc"  name="data_nasc" required> <br>
  
                  <span class="msg-erro" for="dataNasc"></span>
              </section>
  
  
  
              <section class="genero">
                  <p> Selecione o seu gênero: </p>
                  <select class="data-nasc genero" name="genero" required >
                    <option value="">Gênero</option>
                    <option value="feminino">Feminino</option>
                    <option value="masculino">Masculino</option>
                     <option value="prefiro não dizer">Prefiro não dizer</option>
                    <option value="outro">Outro</option>
                  </select>
  
                  <span class="msg-erro" for="genero"></span>
              </section>
  
          </section>
          <section class="button-group">
            <button type="button" onclick="prevStep()">Voltar</button>
            <button type="button" onclick="analisarEtapaData()">Prosseguir</button>
          </section>
        </section>
  
        <!-- Step 4 -->
        <section class="form-step">
          <h3>Crie sua senha</h3>
  <!--
          <p> Sua senha deve ter no mínimo 8 caracteres, com números, letras maiúsculas e minúsculas, e ao menos um caractere especial. </p>
           -->
  
             <section id="box-validacoes" class="validacoes">
              <p>Sua senha deve conter:</p>
        <section id="val-maiuscula" class="valida-item">✔ Pelo menos 1 letra maiúscula</section>
        <section id="val-minuscula" class="valida-item">✔ Pelo menos 1 letra minúscula</section>
        <section id="val-numero" class="valida-item">✔ Pelo menos 1 número</section>
        <section id="val-especial" class="valida-item">✔ Pelo menos 1 caractere especial</section>
        <section id="val-unicos" class="valida-item">✔ Pelo menos 3 caracteres exclusivos</section>
        <section id="val-tamanho" class="valida-item">✔ Pelo menos 8 caracteres</section>
      </section>
          <section class="input-section pass">
             <section class="i">
                      <i class="fas fa-lock"></i>
                   </section>
  
            <section class="section">
              <h5>Senha</h5>
              <input type="password" id="senha"  name="password" value="<%= valores.password %>" class="<%= cssErros.password %>" required oninput="validarSenha()" onfocus="mostrarValidacoes()" onblur="ocultarValidacoes()"><br>
  
  
              <span class="msg-erro"> <%= msgErros.password %></span>
               <span class="msg-erro" for="password"></span>
            </section>
          </section>
  
  
  <!--
          <p>Confirme sua senha:</p> -->
  
  
          <section class="input-section pass">
                    <section class="i">
                      <i class="fas fa-lock"></i>
                   </section>
            <section class="section">
              <h5>Confirmação de senha</h5>
              <input type="password" name="confirmpassword" id="confirmarSenha" value="<%= valores.confirmpassword %>" class="<%= cssErros.confirmpassword %>"  required ><br>
              <span class="msg-erro"> <%= msgErros.confirmpassword %></span>
              <span class="msg-erro" for="confirmpassword"></span>
            </section>
          </section>
  
  
          <section class="button-group">
            <button type="button" onclick="prevStep()">Voltar</button>
            <button type="button" id="senhaBtn" onclick="analisarEtapaSenha()">Prosseguir</button>
          </section>
        </section>
      </form>
    </section>
</main>
 <script src="js/cadastro.js"></script>
 <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Pega os inputs
            const inputs = document.querySelectorAll('.input-section > section > input');
            
            // Vai olhat cada campo
            inputs.forEach(input => {
                // Verifica se o campo já tem algum valor preenchido
                if (input.value.trim() !== '') {
                    // se o campo tiver sido preenchido, a classe focus será adicionada
                    input.parentNode.parentNode.classList.add('focus');
                }
    
        
                input.addEventListener('focus', () => {
                    input.parentNode.parentNode.classList.add('focus');
                });
                input.addEventListener('blur', () => {
                    if (input.value.trim() === '') {
                        input.parentNode.parentNode.classList.remove('focus');
                    }
                });
            });
        });
    </script>
      <script src="js/voltar.js"></script>
    
</body>
</html>
