<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Traço Perfeito</title>
<link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link rel="stylesheet" href="css/barrapesquisa.css">
<link rel="stylesheet" href="css/contratar.css">
</head>
<body>

    <%- include('../partials/menu'); %>

    <section class="pesquisas">
        <section class="search">
            <section class="icon"> <ion-icon name="search-outline"></ion-icon></section>
            <input class="search-input" type="search" placeholder="O que você está procurando hoje?">
        
        </section>

   
 
 
           
 <section class="container-perfis">
     
        <%- include('../partials/contratos'); %>
        <%- include('../partials/contratos'); %>
        <%- include('../partials/contratos'); %>
      
 </section>
 
 <%- include('../partials/rodape'); %>
 
</body>
</html>