<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/meuperfil.css" />
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="js/simple-notify.js"></script>
</head>
  <body>

<%


let msgErro = "";
let avisoErro = {
  nome_usu: "",
  nomeusu_usu: "",  
  fone_usu: "",
  email_usu: "",
  imagem: "",
  "imagem-capa_usu": ""
};

let errosArray = [];

if (listaErros) {
  if (Array.isArray(listaErros)) {
    errosArray = listaErros;
  } else if (Array.isArray(listaErros.errors)) {
    errosArray = listaErros.errors;
  }
}


errosArray.forEach((itemErro) => {
    if (itemErro.path === "nome_usu") {
      avisoErro.nome_usu = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path === "nomeusu_usu") {
      avisoErro.nomeusu_usu = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path === "celular_usu") {
      avisoErro.fone_usu = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path === "email_usu") {
      avisoErro.email_usu = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path === "imagem-perfil_usu") {
      avisoErro.imagem = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
    if (itemErro.path === "imagem-capa_usu") {
      avisoErro["imagem-capa_usu"] = "erro";
      msgErro += `* ${itemErro.msg} <br>`;
    }
  });


   
          let arquivo = { imagem: "imagens/foto-perfil.png" }; 
    
         if (autenticado.img_perfil_pasta) {
          arquivo.imagem = autenticado.img_perfil_pasta;
        } else if (autenticado.img_perfil_banco) {
          arquivo.imagem = autenticado.img_perfil_banco;
        }

        let arquivocapa = {imagem_capa: "imagens/bg.png" };

        if (autenticado.img_capa_pasta) {
          arquivocapa.imagem_capa = autenticado.img_capa_pasta;
        }
        if (autenticado.img_capa_banco) {
          arquivocapa.imagem_capa = autenticado.img_capa_banco;
        }


        

   %>


   <%   if (dadosNotificacao) {
            %>
           <script>
    console.log("🔔 Notificação recebida!");
    notify("<%= dadosNotificacao.titulo %>",
           "<%= dadosNotificacao.mensagem %>",
           "<%= dadosNotificacao.tipo %>",
           "center");

       // Comentado para não redirecionar:
    // if ("<%= dadosNotificacao.tipo %>" == "success") {
    //   setTimeout(function () {
    //     window.location = "/";
    //   }, 3000);
    // }
  </script>
<% } %>



<script>
  window.onload = function() {
    console.log('Data received:', valores);
  };
</script>


<% if (status_usuario === 'pendente') { %>
    <%- include('../partials/aviso-pendente') %>
    
<% } %>
  


<% if (tipo_usuario === 'profissional') { %>
  <%- include('../partials/menu-logado', { tipo_usuario: tipo_usuario }) %>
<% } else { %>
  <%- include('../partials/menu-c-c', { tipo_usuario: tipo_usuario }) %>
<% } %>

   
    <section class="base_cabecalho">
      <section id="banner-perfil">
        <img src="/<%= arquivocapa.imagem_capa %>" id="banner-perfil">

      </section>
      <section class="coluna_contaneir">
        <section class="coluna-esquerda">

          <section class="img__container">

            <img src="/<%= arquivo.imagem %>" alt="Perfil" id="imgFoto">
           
          </section>

        <section class="embaixo">
          <h2 id="dados-principais-perfil">
          <h3 id="nome-perfil"> <%= nome_usuario %></h3>
          <p><%= valores.especializacao %></p>
          <p>@<%= user_usuario %></p>
          
          <p><%=email_usuario %></p>

          <p>
          <button id="editarperfilbotao" class="editar-botao" onclick="window.location.href='/editar-perfil'">
            Editar Perfil
          </button>
        </p>
          </h2>
        

        </section>

         <% if (tipo_usuario === 'profissional') { %>
            <ul class="quan-p-t-c">
              <li title="Quantidade de publicações feitas por você."><span> <%=publicacoes.length %></span>Publicações</li>
              <li title="Quantidade de portfólios criados por você."><span>0</span>Portfólios</li>
              <li title="Quantidade de vezes que você foi contratado através plataforma."><span>0</span>Contratações</li>
              
            </ul>
          <% } %>



          <% const descVazia = !descricao_perfil || descricao_perfil.trim() === ''; %>
          <section class="sobre">
            <% if (!descVazia) { %>
            <section class="paragrafo-descricao">
              <p class="descricao-meu-perfil">
                <%= descricao_perfil %>
              </p>
            </section>
          <% } %>

          <% if (!descVazia || (valores.linkedin || valores.pinterest || valores.instagram || valores.whatsapp)) { %>
   
          <%
          let totalRedes = 0;
          if (valores.linkedin) totalRedes++;
          if (valores.pinterest) totalRedes++;
          if (valores.instagram) totalRedes++;
          if (valores.whatsapp) totalRedes++;
          let classeRedes = totalRedes <= 2 ? 'centralizadas' : 'espalhadas';
        %>
   
            <ul class="redes-sociais-icons <%= classeRedes %>">
      <% if (valores.linkedin) { %>
        <li><a href="<%= valores.linkedin %>" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <% } %>
      <% if (valores.pinterest) { %>
        <li><a href="<%= valores.pinterest %>" target="_blank"><i class="fab fa-pinterest"></i></a></li>
      <% } %>
      <% if (valores.instagram) { %>
        <li><a href="<%= valores.instagram %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <% } %>
      <% if (valores.whatsapp) { %>
        <li><a href="<%= valores.whatsapp %>" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
      <% } %>
    </ul>
  <% } %>



          </section>
   
        </section> 
        <section class="coluna-direta">
          <section class="coluna-da-direita">
            <ul class="p-t-c">
              <li><a href="">Publicações</a></li>

              <% if (tipo_usuario === 'profissional') { %>
                <li><a href="">Portfólios</a></li>
              <% } %>

                </ul>

                <% if (tipo_usuario === 'profissional') { %>
                  <a href=/nova-publicacao class="btn-link">Nova Publicação</a>
                <% } else { %>
                  <a href=/nova-publi-c-c class="btn-link">Nova Proposta de Projeto</a>
                <% } %>


          </section>

          
<section class="publi">
  
            <% if (publicacoes.length > 0) { %>
      <% publicacoes.forEach(pub => { %>
      
        <section class="publi-perfil">
  
             <a href="/publicacao/<%= pub.ID_PUBLICACAO %>">
          <!-- Carrossel de imagens -->
          <section class="carrossel-imagens-explorar" onmouseenter="mostrarControles(this)" onmouseleave="esconderControles(this)">
            <div class="container-imgs" ontouchstart="startSwipe(event, this)" ontouchmove="swipeMove(event)" ontouchend="endSwipe(event, this)">
              <% pub.imagens.forEach((img, idx) => { %>
                <img
                  src="data:image/jpeg;base64,<%= img.toString('base64') %>"
                  class="publicacao-img<%= idx === 0 ? ' ativa' : '' %>"
                  alt="Imagem da publicação"/>
              <% }) %>
            </div>
  
            <% if (pub.imagens.length > 1) { %>
              <button class="seta-carrossel esquerda" onclick="event.preventDefault();prevImg(this)">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </button>
              <button class="seta-carrossel direita" onclick="event.preventDefault();nextImg(this)">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </button>
  
              <div class="indicadores">
                <% pub.imagens.forEach((_, idx) => { %>
                  <span class="indicador<%= idx === 0 ? ' ativo' : '' %>"></span>
                <% }) %>
              </div>
            <% } %>
            </a>
          </section>
          
  
          <!-- Nome e botão de like -->
          <section class="nome-btn-like">
            <span><%= pub.NOME_PUBLICACAO %></span>

              
            <button class="like-button">
              <i class="far fa-heart"></i>
            </button>
          </section>
  
        </section>
  
    
      <% }) %>
    <% } else { %>
      <section class="sem-publicacoes">
        <p>Você ainda nã publicou nada.</p>
      </section>
    <% } %>
  </section>
</section>


        
        </section>
      </section>
    

        

    
<% if (tipo_usuario === 'profissional') { %>
    <h2 id="secao-avaliacoes-h2">
        Avaliações de seus clientes
    </h2>
    
    <section class="carousel-container">
     <!--   <button class="carousel-button prev">&#10094;</button>
        
         <section id="secao-avaliacoes" class="carousel-track">


            
          



            <section class="avaliacao">
                <section class="info-criador-ava">
                    <img src="imagens/fotoperfil1.jpeg" class="foto-de-perfil">
                    <a href="/perfil">
                        <p class="nome-criador-ava"> Mariana Sanchez</p>
                    </a>
                </section>
                <section class="estrelinhas-avaliacao">
                    <ion-icon name="star-outline" class="far estrela"></ion-icon>
                    <ion-icon name="star-outline" class="far estrela"></ion-icon>
                    <ion-icon name="star-outline" class="far estrela"></ion-icon>
                    <ion-icon name="star-outline" class="far estrela"></ion-icon>
                    <ion-icon name="star-outline" class="far estrela"></ion-icon> <br>
                </section>
                <section class="conteudo-avaliacao">
                    <p>Lorem ipsum dolor sit, amet consectetur adipis
                        is ea expedita modi atque magn
                        am tenetur obcaecati labore!</p>
                </section>
            </section>
           
        </section> 

        
        
        <button class="carousel-button next">&#10095;</button> -->

        <p class="aviso-avaliacoes">Você ainda não possui nenhuma avaliação.</p>
    </section>
    <% } %>

   


<%- include('../partials/rodape'); %>



 <script src="/js/publicacoesindex.js"></script>
    <script>

  

// autoplay
document.addEventListener('DOMContentLoaded', () => {
  const carrosseis = document.querySelectorAll('.carrossel-imagens-explorar');

  carrosseis.forEach(carrossel => {
    let idx = 0;
    const total = carrossel.querySelectorAll('.publicacao-img').length;

    if (total > 1 && window.innerWidth > 500) {
      setInterval(() => {
        idx = (parseInt(carrossel.dataset.idx || '0') + 1) % total;
        updateCarrossel(carrossel, idx);
      }, 10000);
    }

    updateCarrossel(carrossel, 0);
  });
});
</script>
      <script src="/js/like.js"></script>

  </body>

  </html>
        