<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" sobre="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/meuperfil.css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
  <body>


      <%
        let arquivo = {"imagem":"imagem/img-perfil.png"}
        if(valores.img_perfil_pasta != null){
            arquivo.imagem = valores.img_perfil_pasta
        }else if(valores.img_perfil_banco != null){ 
            arquivo.imagem = valores.img_perfil_banco;
        }
        let msgErro = ""
        let avisoErro = {"nome_usu":"", "email_usu":"",nomeusu_usu:"", fone_usu:"", cep:"", imagem:""}
        if(listaErros){
            listaErros.errors.forEach(function(itemErro){
                if(itemErro.path == "nome_usu"){
                    avisoErro.nome_usu = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "celular_usu"){
                    avisoErro.fone_usu = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "nomeusu_usu"){
                    avisoErro.nomeusu_usu = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "email_usu"){
                    avisoErro.email_usu = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
               
                if(itemErro.path == "imagem-perfil_usu"){
                    avisoErro.imagem = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
              }
            )}
           
                %>

    <%- include('../partials/menu-logado'); %>

   
    <section class="base_cabecalho">
      <section id="banner-perfil">
        <img src="imagens/bg.png" id="banner-perfil">

      </section>
      <section class="coluna_contaneir">
        <section class="coluna-esquerda">

          <section class="img__container">
            <img src="imagens/img.png" alt="Perfil" id="imgFoto">
      
          </section>
         
          <script src="js/meuperfil.js"></script>
        <section class="embaixo">
          <h2 id="nome-principal-perfil">Meu Nome</p>
          <p>UX/UI Designer</p>
          <p>meunome@outlook.com</p>


          <p><span id="editarperfilbotao" class="editar-botao">Editar Perfil </span></p>
        <!-- <div id="editarperfil-suspenso" class="suspenso-conteudo">
            <form>
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" placeholder="Seu Nome" class="input-alteracao">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" class="input-alteracao">

                <button type="submit" class="salvar">Salvar</button>
            </form>
        </div> -->

          

        </section>

          <ul class="quan-p-t-c">
            <li><span>50</span>Projetos</li>
            <li><span>18</span>Trabalhos</li>
            <li><span>6</span>Colaborações</li>
          </ul>
          <section class="sobre">
            <section class="paragrafo-descricao">
              <p class="descricao-meu-perfil">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
                erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
                ligula egestas nulla.
              </p>
            </section>
            <ul class="redes-sociais-icons">
              <li><i class="fab fa-linkedin"></i></li>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-whatsapp"></i>
            </ul>
          </section>
          <a href=/index ><button class="sair-da-conta">Sair da conta</button></a>

        </section> 
        <section class="coluna-direta">
          <section class="coluna-da-direita">
            <ul class="p-t-c">
              <li><a href="">Publicações</a></li>
              <li><a href="">Trabalhos</a></li>
              <li><a href="">Colaborações</a></li>
              <li><button class="nova-publi-perfil"><a id="nova-publi-perfil" href="/nova-publicacao">Nova Publicação</a></button></li>
            </ul>
           
           
          </section>

          <section class="publi">
            <img src="imagens/arte1.jpg" alt="Publicações" class="publicacao-perfil"/>
            <img src="imagens/arte2.jpg" alt="Publicações" class="publicacao-perfil"/>
            <img src="imagens/arte3.jpg" alt="Publicações" class="publicacao-perfil"/>
            <img src="imagens/arte4.jpg" alt="Publicações" class="publicacao-perfil"/>
            <img src="imagens/arte5.jpg" alt="Publicações" class="publicacao-perfil"/>
            <img src="imagens/arte6.jpg" alt="Publicações" class="publicacao-perfil"/>
          </section>
        </section>
      </section>
    </section>

    

    <!-- Section de edição de perfil -->
    <section id="editarPerfilModal" class="modal">
      <section class="modal-content">
        <span class="close">&times;</span>

        <h1 class="h1-editar-perfil">Editar Perfil</h1>
        <form action="/alterar-dados-perfil" class="editar-perfil" enctype="multipart/form-data" method="post">

          

          <section class="label-input" id="section-nome">
              <label for="name">Nome:</label>
              <input type="text" id="name" name="nome_usu" placeholder="Seu Nome" class="input-alteracao"  value="<%= valores.nome_usu %>" class="<%= avisoErro.nome_usu %>">
          </section>

                <input type="text" name="fone_usu" id="celular_usu" placeholder="Telefone" value="<%= valores.fone_usu %>" class="<%= avisoErro.fone_usu %>"/> 
              

          <section class="label-input"  id="section-email">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email_usu" placeholder="seuemail@exemplo.com" class="input-alteracao"  value="<%= valores.email_usu %>" class="<%= avisoErro.email_usu %>">
          </section>

          <section class="img-holder"  id="section-img">
  
              <label for="foto-perfil">Foto de perfil:</label>
              <section class="lugar-botar-img">
  
  
                  <label class="picture" for="picture__input" >
                      <span class="picture__image"></span>
                      <p>Carregar imagem</p>
                    </label>
  
                    <!-- <input type="file" name="picture__input" id="picture__input" accept="image/*"> -->

                        <input type="file" class="<%= avisoErro.imagem %>" name="img_perfil" id="imagem-perfil_usu" onchange="loadImg(event)">
                    <img class="img-perfil"  id="img-preview" src="<%= arquivo.imagem %>">
                

                  </section>
              </section>

              <section class="img-holder"  id="section-capa">
                  <label for="img-capa">Imagem de capa:</label>
                  <section class="lugar-botar-img">
                  
                      <label class="picture-banner" for="picture__input" >
                          <span class="picture__image"></span>
                          <p>Carregar imagem</p>
                        </label>
                        <input type="file" name="picture__input" id="picture__input" accept="image/*">
                      </section>
              </section>
  


              <section class="label-input"  id="section-desc">
                  <label for="desc-perfil">Descrição do perfil:</label> <br>
                  <textarea name="desc-perfil" id="desc-perfil"></textarea>
              </section>

              <section class="label-input"  id="section-espec">
                  <label for="especialidade"> Área de atuação:</label>
                  <input type="especialidade" id="especialidade" name="especialidade" class="input-alteracao">
              </section>

              <section class="link-social" id="links-redes">
                  <p>Links das redes sociais:</p>
                  <label for="instagram"> Instagram: </label>
                  <input type="link-social" id="instagram" name="link-instagram" class="input-alteracao"> <br>
                  <label for="instagram"> Twitter: </label>
                  <input type="link-social" id="twitter" name="link-twitter" class="input-alteracao"> <br>
                  <label for="instagram"> LinkedIn: </label>
                  <input type="link-social" id="linkedin" name="link-linkedin" class="input-alteracao"> <br>
                  

              </section>
  

          <button type="submit" class="salvar">Salvar</button>

          </form>

          </section>

          </section>

          
  <script>
    // Elements
let editarBtn = document.getElementById('editarperfilbotao');
let modal = document.getElementById('editarPerfilModal');
let closeBtn = document.querySelector('.close');

// Open modal
editarBtn.addEventListener('click', () => {
    modal.style.display = 'block';
});

// Close modal
closeBtn.addEventListener('click', () => {
    modal.style.display = 'none';
});

// Optional: close when clicking outside the modal content
window.addEventListener('click', (event) => {
    if (event.target == modal) {
        modal.style.display = 'none';
    }
});

  </script>
   <script src="js/editar-perfil.js"> </script>


  </body>

  </html>
        