<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="css/oportunidades.css">

       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
   <script src="js/simple-notify.js"></script>


 
    <title>Oportunidades </title>
</head>
<body>


    <%  if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "top right");
                                   
        </script>
    <% } %>


    <%- include('../partials/menu-logado'); %>

   


    <main>

            <h1 id="nome-pag-oportunidades"> Oportunidades</h1> <br>
            <p class="msg-oportunidades"> Confira as oportunidades recentes que podem te interessar!</p>

        <button id="botao-filtro"> Filtros <ion-icon name="filter-outline" id="icon-filtro"></ion-icon></button>

    </section>


    <!------------------------------------ SEÇÃO DO FILTRO QUANDO ELE É ABERTO --------------------------------------------->


        <section class="secao-filtro" id="secao-filtro">

            <button id="fechar-aba"> X </button>
            <h2 id="nome-filtro">Filtros</h2>

            <section class="categoria-filtro">

        <p>Mostrar:</p>
        <label><input type="radio" name="opcoes-mostrar" value="todos"> Todos </label> 
        <label><input type="radio" name="opcoes-mostrar" value="recomendados" checked > Meus recomendados</label> <br>

            </section>

            <hr class="linha">

            <section class="categoria-filtro">
                <span class="caret">▶</span> Tipo
            </section>
            
            <section class="opcoes-categoria">
                <label><input type="checkbox" > Branding e Identidade Visual</label><br>
                <label><input type="checkbox"> Design Gráfico</label><br>
                <label><input type="checkbox"> Ilustração </label> <br>
                <label><input type="checkbox"> Arte Conceitual</label> <br>
                <label><input type="checkbox"> Design de Interface (UI/UX)</label> <br>
                <label><input type="checkbox"> Design de Produtos</label> <br>
                <label><input type="checkbox"> Logotipos</label> <br>
                <label><input type="checkbox"> Edição de Fotos e Vídeos</label> 
                
            </section>

            <hr>

            <section class="categoria-filtro">
                <span class="caret">▶</span> Por data de publicação:
            </section>

            <section class="opcoes-categoria">

                <p>Filtrar por data de publicação:</p>
                    <label><input type="checkbox" name="periodo" value="hoje"> Hoje </label> <br>
                    <label><input type="checkbox" name="periodo" value="3dias"> Últimos 3 dias </label> <br>
                    <label><input type="checkbox" name="periodo" value="semana"> Última semana </label> <br>
                    <label><input type="checkbox" name="periodo" value="mes"> Último mês </label>
                
    
            </section>

            <hr>

            
            <section class="categoria-filtro">
                <span class="caret">▶</span> Tempo previsto de desenvolvimento
            </section>

           

            <section class="opcoes-categoria">
                <label><input type="checkbox"> Curto</label><br>
                <label><input type="checkbox"> Médio</label><br>
                <label><input type="checkbox"> Longo</label><br>
              
                
            </section>
            

            <button id="aplicar-filtros">Aplicar</button>
        </section>

        <!----------------------------------- FIM DA SEÇÃO DE FILTRO QUANO ABERTO ----------------------------------------------->


        <script>
  const mapaProfissional = {
    design_grafico: "Designer Gráfico",
    ilustracao: "Ilustrador(a)",
    uiux: "Designer UI/UX",
    arte_digital: "Artista Digital",
    arte_3d: "Artista 3D",
    animacao: "Animador(a)",
    branding: "Especialista em Branding",
    tipografia: "Tipógrafo(a)",
    modelagem_3d: "Modelador(a) 3D",
    design_de_produto: "Designer de Produto",
    design_editorial: "Designer Editorial",
    design_de_jogos: "Designer de Jogos",
    fotografia: "Fotógrafo(a)",
    outro: "Profissional Diverso"
  };

  document.querySelectorAll('.resposta-especificacao[data-categoria]').forEach(span => {
      const categoria = span.dataset.categoria;
      span.textContent = mapaProfissional[categoria] || "Profissional Diverso";
  });
</script>


            <section class="container-oportunidades">
    <% propostas.forEach(proposta => { %>
        <section class="proposta-oportunidades" onclick="location.href='/propostadeprojeto/<%= proposta.ID_PROPOSTA %>'">
            
            <section class="info-oportunidade">
                <img src="imagens/fotoperfil1.jpeg">
                <h2> <%= proposta.NOME_PROPOSTA || 'Anônimo' %> </h2>
            </section>

            <span class="especificacao">Profissional requerido:</span>
            <span class="resposta-especificacao" data-categoria="<%= proposta.CATEGORIA_PROPOSTA %>"> </span> <br>

            <span class="especificacao">Tipo de trabalho:</span>
            <span class="resposta-especificacao"><%= proposta.CATEGORIA_PROPOSTA.replace('_',' ') %></span> <br>

            <span class="especificacao">Data de envio:</span>
            <span class="resposta-especificacao"><%= proposta.DATA_PROPOSTA.toLocaleDateString() %></span> <br>

            <span class="especificacao">Prazo de entrega:</span>
            <span class="resposta-especificacao"><%= proposta.PRAZO_ENTREGA ? proposta.PRAZO_ENTREGA.toLocaleDateString() : 'Não definido' %></span> <br>

            <span class="especificacao">Orçamento:</span>
           <span class="resposta-especificacao">
  <%= proposta.ORCAMENTO ? `R$ ${Number(proposta.ORCAMENTO).toFixed(2)}` : 'Não definido' %>
</span>
            <p><%- proposta.DESCRICAO_PROPOSTA %></p>


        </section>
    <% }) %>
</section>

     
    </main>

    <%- include('../partials/rodape'); %>

    <script src="js/filtro.js"></script>

    
    
</body>
</html>