<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha </title>
    <link rel="stylesheet" href="/css/recuperarsenhaenvio.css">
</head>

<body>



      <% 
            let avisoErro = {"email_usu":""}
            let msgErro = ""
                if(listaErros){
                    listaErros.errors.forEach(function(itemErro){
                        if(itemErro.path == "email_usu"){
                            avisoErro.email_usu = "erro";
                            msgErro += `* ${itemErro.msg} <br>`
                        }
                    })
                    if(msgErro != ""){
                    %>
                        <script>
                            let msgErro ="<%= msgErro %>"
                            notify("Erro(s) no preenchimento", 
                                   "Verifique o(s) campo(s) <br> " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), 
                                   "error", "center", 5000)                        
                        </script>
                    <%
                    }
                }
                if (dadosNotificacao) { %>
                    <script>
                            notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                            if("<%= dadosNotificacao.tipo %>" == "success"){
                                setTimeout(function(){window.location="/"}, 3000)
                            }                        
                    </script>
                <% } %>              
                <div class="login-page">
                    <div class="form-cadastro">
                        <h2>Recuperar a senha</h2>
                        <form action="/recuperar-senha" method="post">
                            <input type="text" name="email_usu" placeholder="e-mail" value=""
                                class="<%= avisoErro.email_usu %>" /><br>
                           <button type="submit">Enviar</button><br>
                        </form>
                    </div>
                </div>
    </main>

 <!-- <section class="container">
  
   
    <section class="img"><img src="favicon.ico" alt="Ilustração">
    </section>
     

    <h2>Recuperar Senha</h2>
    <form>
      <section class="input-group">
        <section class="tamanho">
          <label for="email">Digite seu e-mail para que possamos enviar um link para recuperar a senha:</label>
        </section>
        <input type="email" id="email" placeholder="seuemail@exemplo.com" required>
      </section>
      
      <button type="submit">Enviar link de recuperação</button>

      
      <p><a href="#" class="cancelar">Cancelar</a></p>
    </form>
</section> -->
</body>
</html>